<!--  Lista de navegação  -->
<div class="geral">
    <ul class="nav_list">
        <li>
            <div class="item-li">
                <i class="bi bi-house-door-fill"></i>
                <a href="">Início</a>
            </div>
        </li>
        <li>
            <div class="item-li">
                <i class="bi bi-person-fill"></i>
                <a href="">Meus dados</a>
            </div>
        </li>
        <li>
            <div class="item-li">
                <i class="bi bi-bag-fill"></i>
                <a href="">Meus pedidos</a>
            </div>
        </li>
        <li>
            <div class="item-li">
                <i class="bi bi-hand-thumbs-up-fill"></i>
                <a href="">Avaliações e Comentários</a>
            </div>
        </li>
        <li>
            <div class="item-li">
                <i class="bi bi-headset"></i>
                <a href="">Atendimento ao cliente</a>
            </div>
        </li>
        <li>
            <div class="item-li">
                <i class="bi bi-lightning-charge-fill"></i>
                <a href="">Favoritos</a>
            </div>
        </li>
        <li>
            <div class="item-li">
                <i class="bi bi-tag-fill"></i>
                <a href="">Sorteio</a>
            </div>
        </li>
    </ul>
</div>