<div class="inf" id="inf">
    <div class="inf-item">
        <span>
            <strong>"CLONE"</strong> da interface KaBuM! desenvolvida por <strong
                style="text-decoration: underline ;">Luano
                Zubém</strong>
        </span>
        <div class="inf-social">
            <a href="https://www.linkedin.com/in/luano-zubem" target="blank">
                <i class="bi bi-linkedin" title="Linkedin"></i>
            </a>
            <a href="https://github.com/lanozubem?tab=repositories" target="blank">
                <i class="bi bi-github" title="GitHub"></i>
            </a>
        </div>
        <button class="closeCredits" (click)="closeCredits()">
            <i class="bi bi-scissors" title="Cortar"></i>
        </button>
    </div>
</div>