<!-- OBS: FIX em breve. -->
<div class="box">
    <div class="sliders">
        <div class="row">
            <div class="sliders-title">
                <span class="material-icons">
                    location_searching
                </span>
                MAIS PROCURADOS
            </div>
        </div>
        <div class="row">
            <div class="box-item col-12">
                <app-slider [produtos]="produtos"></app-slider>
                <div class="row">
                    <a href="" class="link-bottom">VER MAIS</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sliders-title">
                <span class="material-icons">
                    bolt
                </span>
                ACABARAM DE CHEGAR
            </div>
        </div>
        <div class="row">
            <div class="box-item col-12">
                <app-slider [produtos]="produtos.reverse()"></app-slider>
                <div class="row">
                    <a href="" class="link-bottom">VER MAIS</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Futuros Ajustes
        - Implementar banner para troca de imagens automaticamente
    -->
    <aside class="col-2">
        <img src="https://themes.kabum.com.br/conteudo/imagens/kbar/1641215422.jpg" alt="">
       <!--  <img src="https://themes.kabum.com.br/conteudo/imagens/kbar/1641389586.jpg" alt=""> -->


        <img src="https://themes.kabum.com.br/conteudo/imagens/kbar/1641215753.jpg" alt="">
        <!-- <img src="https://themes.kabum.com.br/conteudo/imagens/kbar/1641466848.jpg" alt=""> -->


        <img src="https://themes.kabum.com.br/conteudo/imagens/kbar/1641216780.png" alt="">
        <!-- <img src="https://themes.kabum.com.br/conteudo/imagens/kbar/1640343809.png" alt=""> -->
    </aside>
</div>