<div class="container-fluid ">
    <div class="row page">
        <div class="content-page">
            <div class="page-item">
                Ops! A página não foi encontrada.
            </div>
            <div class="page-item">
                O nosso ninja não encontrou
                <br>
                a página que você digitou.
            </div>
            <div class="page-item">
                Se o erro persistir, nos informe por favor
                <br>
                <a href="faleconosco@kabum.com.br">faleconosco@kabum.com.br</a>
            </div>
            <div class="page-item">
                <strong>Erro 404: </strong>O conteúdo não está mais
                disponível ou você digitou o endereço errado.
            </div>
        </div>
        <div>
            <img src="https://static.kabum.com.br/conteudo/temas/001/imagens/k5/images/ninja_pensativo.png">
        </div>
    </div>
</div>