<app-my-account-sidenav></app-my-account-sidenav>
<div class="geral" *ngIf="userLogged">
    <div class="container">

        <div class="row">
            <div class="card profile">
                <div class="profile-image">
                    <img src="{{ userLogged.imageUrl }}" alt="">
                </div>
                <div class="profile-info">
                    <strong>Bem-vindo, {{ userLogged.name }}</strong><br>
                    <span>{{ userLogged.email }}</span>
                </div>
                <i class="bi bi-gear-fill"></i>
            </div>

            <div class="card profile">
                <div class="card-info">
                    <p>Crédito disponível</p>
                    <h2>R$ 0,00</h2>
                </div>
            </div>
        </div>

        <div class="row order">
            <div class="row order-title">
                <span class="material-icons">shopping_cart</span>
                <strong *ngIf="order">SEU ÚLTIMO PEDIDO</strong>
                <strong *ngIf="!order">NENHUM PEDIDO RECENTE</strong>
            </div>

            <div class="card order-content" *ngIf="order">
                <div class="row order-details">
                    <div class="detail">
                        <strong>NÚMERO DO PEDIDO</strong>
                        <span>#27185233</span>
                    </div>
                    <div class="detail">
                        <strong>STATUS</strong>
                        <span>Concluído</span>
                    </div>
                    <div class="detail">
                        <strong>DATA</strong>
                        <span>26/11/2021</span>
                    </div>
                    <div class="detail">
                        <strong>PAGAMENTO</strong>
                        <span>Cartão de Crédito</span>
                    </div>
                </div>

                <div>
                    <div class="row order-address">
                        <div class="col-9 address-item">
                            <strong>ENDEREÇO</strong>
                            <span>Segunda Travessa Rua Rita Alves Espíndola</span>
                            <span>Número 18, VILA POMBOS</span>
                            <span>CEP 55380000 - Cachoeirinha, PE</span>
                        </div>
                        <div class="col-3 address-item">
                            <strong>SEQUOIA</strong>
                            <a href="">24271852231254581000010001</a>
                        </div>
                    </div>
                </div>

                <div class="row allOrders">
                    <a href="">VER TODOS OS PEDIDOS</a>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        
        <div class="row-content fix">
            <div class="row order-title">
                <span class="material-icons">
                    short_text
                </span>
                <strong>ATALHOS</strong>
            </div>
            <div class="div-group">
                <div class="item">
                    <span class="material-icons">shopping_cart</span>
                    <span>MEUS PEDIDOS</span>
                </div>
                <div class="item">
                    <i class="bi bi-headset"></i>
                    <span>ATENDIMENTO AO CLIENTE</span>
                </div>
                <div class="item" routerLink="favoritos">
                    <i class="bi bi-suit-heart-fill"></i>
                    <span>FAVORITOS</span>
                </div>
            </div>
        </div>

    </div>
</div>