.container {
    margin-top: 25px;
}

.title h1 {
    font-weight: bold;
    font-size: 24px;
    color: #42464D;
}

.title span {
    color: #FF5101;
    font-size: 30px;
    margin-top: -2px;
}


.login-item h3 {
    text-align: center;
    color: #FF5101;
    font-weight: bold;
    font-size: 24px;
}

.login-item {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

.login-item:nth-child(1) {
    border-right: 1px solid #dbd9d9
}

hr {
    color: gray;
    width: 87.5%;
}

.login-item h4 {
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
    color: #606060;
}

.form-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 87.5%;
    margin-top: 7.5px;
}

.form-login form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-login form input {
    margin: 7px 0;
    padding: 10px;
    outline-color: #FF5101;
    border: 1px solid #7F858D;
    border-radius: 4px;
}

.form-login button {
    border: none;
    color: #FFF;
    font-weight: bold;
    background-color: #FF6500;
    padding: 10px 0;
    border-radius: 4px;
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
}


.btn-group {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-group button {
    border-radius: 4px;
    padding: 10px 0;
    margin: 5px;
    cursor: not-allowed;
}

.btn-group button:nth-child(1) {
    background-color: transparent;
    color: #0060B1;
}

.btn-group button:nth-child(2) {
    background-color: transparent;
    color: #E72626;
}

.links {
    width: 68%;
    display: flex;
    justify-content: space-around;
}

.links a {
    color: gray;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
    cursor: not-allowed;
}

.form-div {
    margin: auto;
}

.btn-cadastrar {
    border: none;
    color: #ff5101;
    font-weight: bold;
    width: 87.5%;
    border: 1px solid #FF5101;
    padding: 10px 0;
    border-radius: 4px;
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 18px;
}

.invalidData {
    color: #E72626;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}