<div class="container">
    <div class="row title">
        <span class="material-icons">person</span>
        <h1>IDENTIFICAÇÃO</h1>
    </div>

    <div class="row form-div">

        <!-- LOGIN -->
        <div class="col-6 login-item">
            <h3>JÁ TENHO CADASTRO</h3>
            <div class="form-login">
                <form #formLogin="ngForm" (ngSubmit)="submitLogin(formLogin)">

                    <input #emailLogin="ngModel" [ngModel]="user.email" name="email" type="email"
                        placeholder="E-mail, CPF ou CNPJ *" required email>

                    <input #passwordLogin="ngModel" [ngModel]="user.password" name="password" type="password"
                        placeholder="Senha" required>

                    <!-- Caso haja inconsistência nas credencias do usuário -->
                    <div class="invalidData" *ngIf="dataIsvalid!=true">
                        <span class="material-icons">warning</span>
                        Dados inválidos, tente novamente!
                    </div>

                    <!-- Caso algum dos campos não seja devidamente preechido -->
                    <div class="invalidData"
                        *ngIf="(
                            emailLogin.invalid && emailLogin.touched) || (passwordLogin.invalid && passwordLogin.touched)">
                        <span class="material-icons-round">
                            warning
                        </span>
                        Preencha todos os campos!
                    </div>

                    <button type="submit" [disabled]="!formLogin.valid" class="btn">
                        <i class="bi bi-box-arrow-in-right"></i>
                        ENTRAR
                    </button>
                </form>
                <div class="row links">
                    <a href="">ESQUECI MEU LOGIN</a>
                    <a href="">ESQUECI A MINHA SENHA</a>
                </div>
            </div>
            <hr>
            <h4>QUERO ACESSAR COM MINHAS REDES SOCIAIS</h4>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary">
                    <i class="bi bi-facebook">Entrar com o <strong>Facebook</strong></i>
                </button>
                <button type="button" class="btn btn-outline-danger">
                    <i class="bi bi-google">Entrar com o <strong>Google</strong></i>
                </button>
            </div>
        </div>

        <!-- CADASTRO -->
        <div class="col-6 login-item">
            <h3>QUERO ME CADASTRAR</h3>
            <div class="form-login">
                <form #formRegister="ngForm" (ngSubmit)="submitRegister(formRegister)">

                    <input #emailRegister="ngModel" [ngModel]="userRegister.email" name="email" type="email"
                        placeholder="E-mail*" required email>
                    <div class="invalidData" *ngIf="emailRegister.invalid && emailRegister.touched">
                        <span class="material-icons">warning</span>
                        Este campo é obrigatório.
                    </div>

                    <!-- Caso possua cadastro na base de dados -->
                    <div class="invalidData" *ngIf="emailIsRegistered!=false">
                        <span class="material-icons">warning</span>
                        E-mail Existente
                    </div>

                    <input #passwordRegister="ngModel" [(ngModel)]="userRegister.password" name="password"
                        type="password" placeholder="Crie sua senha*" required>
                    <div class="invalidData" *ngIf="(passwordRegister.invalid && passwordRegister.touched)">
                        <span class="material-icons-round">
                            warning
                        </span>
                        Este campo é obrigatório.
                    </div>

                    <input #rePasswordRegister="ngModel" [(ngModel)]="re_password" name="re-password" type="password"
                        placeholder="Confirme sua senha*" required>
                    <div class="invalidData" *ngIf="
                    (rePasswordRegister.invalid && rePasswordRegister.touched)">
                        <span class="material-icons-round">
                            warning
                        </span>
                        Este campo é obrigatório.
                    </div>
                    <!-- Caso os passwords forem diferenets -->
                    <div class="invalidData" *ngIf="thePasswordsAreCorrect!=true">
                        <span class="material-icons">warning</span>
                        Os campos não coincidem.
                    </div>

                    <input type="number" placeholder="CPF ou CNPF*" disabled>

                    <input #zipCode="ngModel" [ngModel]="userRegister.zip" name="zip" type="text" placeholder="CEP*"
                        required>
                    <div class="invalidData" *ngIf="zipCode.invalid && zipCode.touched">
                        <span class="material-icons">warning</span>
                        Este campo é obrigatório.
                    </div>

                    <button type="submit" class="btn btn-cadastrar" [disabled]="!formRegister.valid">
                        <i class="bi bi-file-text-fill"></i>
                        CADASTRAR
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>