<div class="container-fluid geral">

    <div class="main-banner-promotion">
        <!-- SEMANA PRIME NINJA -->
        <!-- <img draggable="false" src="https://themes.kabum.com.br/conteudo/layout/2237/banner_img.jpg"> -->

        <!-- KORUJÃO -->
        <img draggable="false" src="https://themes.kabum.com.br/conteudo/layout/2171/banner_img.jpg">

        <!-- VERÃO -->
        <!-- <img draggable="false" src="https://themes.kabum.com.br/conteudo/layout/2234/banner_img.jpg">  -->
    </div>
    <div class="container main-content">
        <div class="row">
            <div class="promo-title col-12">
                <span>SALDÃO DE VERÃO</span>
                <span>A PROMOÇÃO TERMINA EM: <strong>02D 04:51:33</strong></span>
            </div>
        </div>

        <div class="row" *ngIf="produtos.length > 0">
            <div class="slider">
                <app-slider [produtos]="produtos"></app-slider>
                <div class="row">
                    <a href="" class="link-info">TODAS AS OFERTAS</a>
                </div>
            </div>
        </div>

        <!-- Banners -->
        <div class="row io">
            <div class="banners">
                <div class="banner-item col-6">
                    <img src="https://themes.kabum.com.br/conteudo/ads/splashline/678.jpg" alt="">
                </div>
                <div class="banner-item col-6">
                    <img src="https://themes.kabum.com.br/conteudo/ads/splashline/655.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- Departamentos -->
        <app-departaments-slider></app-departaments-slider>

        <!-- Full Banner -->
        <!-- Futuros Ajustes
           - Implementar banner para troca de imagens automaticamente
        -->
        <div class="full-banner">
            <!-- <img src="https://themes.kabum.com.br/conteudo/ads/splashline/686.jpg" alt=""> -->
            <img src="https://themes.kabum.com.br/conteudo/ads/splashline/733.jpg" alt="">
        </div>


        <!-- BOX -->
        <app-box></app-box>

        <!-- LAST SECTION -->
        <div class="row last-section">
            <div class="col-4">
                <div class="bx">
                    <strong>Cartão KaBuM!</strong><br><br>
                    <span>Sua compra mais Ninja, com anuidade ZERO.</span>
                </div>
            </div>
            <div class="col-4">
                <div class="bx">
                    <strong>TecMasters</strong><br><br>
                    <span>As últimas notícias do mundo da Tecnologia.</span>
                </div>
            </div>
            <div class="col-4">
                <div class="bx">
                    <strong>#TôNaOnda</strong><br><br>
                    <span>O universo Tech de um jeito fácil de entender.</span>
                </div>
            </div>
        </div>
    </div>
</div>