.geral {
    display: flex;
    flex-direction: column;
    background-color: #0195F3;
    padding: 0;
}

.main-banner-promotion {
    height: 311px;
    height: auto;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-banner-promotion img {
    width: 100%;
    margin: auto;
    cursor: pointer;
}

.main-content {
    position: sticky;
    border: none;
    border-radius: 0;
    background-color: #FAFAFB;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    margin-top: -20%;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1350px;
    }
}

.promo-title {
    background-color: #FF6500;
    color: aliceblue;
    border-radius: 0;
    padding: 20px 0;
    border: none;
    padding: 18px 73px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo-title span:nth-child(2) {
    font-size: 17px;
    text-decoration: line-through;
}

.promo-title span strong {
    font-size: 25px;
}

.slider {
    width: 100%;
    height: 475px;
    padding: 0 28px;
    margin: 0 auto;
    margin-top: 8px;
}

.link-info {
    float: right;
    font-weight: 700;
    color: #FF6500;
    text-decoration: underline;
    margin-right: 40px;
    font-size: 16px;
    margin-top: -10px;
}

/* Banners */
.io {
    margin: 0 auto;
    background-color: #FFF;
    padding: 36px 50px;
    overflow: hidden;
    margin-top: 46px;
}

.banners {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.banner-item {
    cursor: not-allowed;
}

.banner-item:nth-child(1) {
    padding: 0;
}