.geral {
    display: flex;
    flex-direction: column;

    /* SEMANA PRIME NINJA */
    /* background-color: #1B1B1B; */

    /* KORUJÃO */
    background-color: #001645;

    /* VERÃO */
    /* background-color: #0196F4; */

    padding: 0;
}

.main-banner-promotion {
    height: 311px;
    height: auto;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-banner-promotion img {
    width: 100%;
    margin: auto;
    cursor: pointer;
    cursor: not-allowed;
}

.main-content {
    position: sticky;
    border: none;
    border-radius: 0;
    background-color: #FAFAFB;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    margin-top: -20%;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1360px;
    }
}

.promo-title {
    background-color: #FF6500;
    color: aliceblue;
    border-radius: 0;
    border: none;
    padding: 17px 87px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo-title span:nth-child(2) {
    font-size: 17px;
    text-decoration: line-through;
}

.promo-title span strong {
    font-size: 25px;
}

.slider {
    width: 100%;
    height: 475px;
    padding: 0 28px;
    margin: 0 auto;
    margin-top: 8px;
}

.link-info {
    width: 100%;
    font-weight: 700;
    color: #FF6500;
    text-decoration: underline;
    font-size: 18px;
    margin-left: 82.5%;
    margin-top: -8px;
}

/* Banners */
.io {
    margin: 0 auto;
    background-color: #FFF;
    padding: 36px 50px;
    overflow: hidden;
    margin-top: 30px;
}

.banners {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.banner-item {
    cursor: not-allowed;
}

.banner-item:nth-child(1) {
    padding: 0;
}

/* full-banner */
.full-banner {
    width: 100%;
    height: 264px;
    margin-top: 40px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

/* LAST SECTION */
.last-section {
    height: 300px;
    padding: 0 80px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.bx {
    border: 1px solid #e0e0e0;
    height: 234px;
    border-radius: 3px;
    padding: 10px;
    color: #565C69;
    font-size: 10px;
    cursor: not-allowed;
}

.bx strong {
    font-size: 14px;
}