<footer class="">
    <div class="">

        <!-- footer-header -->
        <div class="row footer-header">
            <div class="col-3 footer-header-item">
                <div class="footer-header-sub-item">
                    <h3>KaBuM! News</h3>
                    <p>Receba ofertas exclusivas no seu e-mail</p>
                </div>
            </div>
            <div class="col-3 footer-header-item">
                <input type="text" placeholder="Qual é o seu nome?">
            </div>
            <div class="col-3 footer-header-item">
                <input type="text" placeholder="Seu e-mail?">
            </div>
            <div class="col-3 footer-header-item">
                <button>CADASTRAR</button>
            </div>
        </div>

        <!-- footer-body -->
        <div class="row footer-body">
            <div class="col-3 departaments">
                <div class="title">Departamentos</div>
                <div class="departamentsLinks">
                    <a href="#">Hardware</a>
                    <a href="#">Smartphones</a>
                    <a href="#">Periféricos</a>
                    <a href="#">Teclado e Mouse</a>
                    <a href="#">Computadores</a>
                    <a href="#">Placa de Vídeo</a>
                    <a href="#">Monitores</a>
                    <a href="#">Consoles e Games</a>
                    <a href="#">Áudio</a>
                    <a href="#">Smart TV</a>
                    <a href="#">Móveis</a>
                    <a href="#">Eletrodomésticos</a>
                    <a href="#">Eletroportáteis</a>
                    <a href="#">Smart Home</a>
                    <a href="#">Ferramentas</a>
                    <a href="#">Ar Cond. e Ventilação</a>
                    <a href="#">Segurança</a>
                    <a href="#">Notebook</a>
                    <a href="#">Câmeras Digitais</a>
                    <a href="#">Conectividade</a>
                    <a href="#">Processadores</a>
                    <a href="#">Casa e Jardim</a>
                    <a href="#">Esporte e Lazer</a>
                    <a href="#">Geek</a>
                </div>
            </div>
            <div class="col-2 novidadesEPromocoes">
                <div class="title">Novidades e Promoções</div>
                <div class="novidadesEPromocoesLinks">
                    <a href="#">Seja Prime</a>
                    <a href="#">Black Friday</a>
                    <a href="#">Mega Maio</a>
                    <a href="#">Julho Gamer</a>
                    <a href="#">PIX</a>
                    <a href="#">Cartão KaBuM!</a>

                    <div class="title">Compra Segura</div>
                    <a href="#">Garantia Estendida e Roubo + Quebra Acidental</a>
                </div>
            </div>
            <div class="col-2 institucional">
                <div class="title">Institucional</div>
                <div class="institucionalLinks">
                    <a href="#">Sobre a KaBuM!</a>
                    <a href="#">Políticas do site e Marketplace</a>
                    <a href="#">Políticas de Privacidade</a>
                    <a href="#">Exerça Seus Direitos de Privacidade</a>
                    <a href="#">Prêmios</a>
                    <a href="#">Trabalhe conosco</a>
                    <a href="#">Código de Defesa do Consumidor</a>
                    <a href="#">Código de Ética e Conduta</a>

                    <div class="title">FAQ</div>
                    <a href="#">FAQ - Orientações</a>
                </div>
            </div>
            <div class="col-2 minhaConta">
                <div class="title">Minha Conta</div>
                <div class="minhaContaLinks">
                    <a href="#">Meus Pedidos</a>
                    <a href="#">Cadastrar ou Remover Newslater</a>

                    <div class="title">Mídias sociais</div>
                    <div class="midiasSociais">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-youtube"></i>
                        <i class="bi bi-linkedin"></i>
                    </div>

                    <div class="title">Baixar os Aplicativos</div>
                    <div class="downloadLinks">
                        <a href="#">
                            <img src="https://logodownload.org/wp-content/uploads/2017/04/disponivel-google-play-badge.png"
                                alt="">
                        </a>
                        <a href="#">
                            <img src="https://logodownload.org/wp-content/uploads/2017/05/disponivel-na-app-store-botao.png"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="title">Atendimento</div>
                <span class="atendimento">
                    Horário de atendimento:
                    <br>
                    08:00 às 20:00 -
                    <br>
                    Segunda a Sábado, 
                    <br>
                    horário de Brasília
                    <br>
                    (Exceto Domingo e feriados)
                    <br>
                    <br>

                    Endereço:
                    <br>
                    Rua Carlos Gomes, 1321 -
                    <br>
                    9º andar - Centro
                    <br>
                    Limeira/SP - CEP: 13480-010
                    <br>

                    <div class="title">Central SAC:</div>
                    (19) 2114-4444
                    <br>

                    <div class="title">E-mail:</div>
                    faleconosco@kabum.com.br
                </span>
            </div>
        </div>

        <!-- footer-footer -->
        <div class="row pre-footer">
            <div class="pre-footer-imagens">
                <img src="https://seal.siteblindado.com.br/www.kabum.com.br/seal.png" alt="">
                <img src="https://static.kabum.com.br/conteudo/temas/001/imagens/rodape/selo_empresabuscape_horizontal.png"
                    alt="">
                <img src="https://static.kabum.com.br/conteudo/temas/001/imagens/rodape/selo-google-site-seguro.png"
                    alt="">
                <img src="https://selo.compreconfie.com.br/reputation/103388.png" alt="">
                <img src="https://static.kabum.com.br/conteudo/temas/001/imagens/rodape/selo_ebit_kabum_horizontal.png"
                    alt="">
            </div>
        </div>

        <div class="row footer-footer">
            <span>
                KaBuM!® é uma marca registrada de KABUM COMÉRCIO ELETRÔNICO S/A | CNPJ: 05.570.714/0001-59 | Todos os
                direitos reservados. Os preços anunciados neste site ou via e-mail promocional podem ser alterados sem
                prévio aviso. O KaBuM! não é responsável por erros descritivos. As fotos contidas nesta página são
                meramente ilustrativas do produto e podem variar de acordo com o fornecedor/lote do fabricante. Este
                site trabalha 100% em criptografia SSL. Clique aqui e veja as políticas de nossa empresa.
            </span>
        </div>
    </div>
</footer>